.container,
.container-sm,
.container-xs {
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px
}

@media (min-width: 481px) {

    .container,
    .container-sm,
    .container-xs {
        padding-left: 24px;
        padding-right: 24px
    }
}

.container {
    max-width: 1128px
}

.container-sm {
    max-width: 944px
}

.container-xs {
    max-width: 668px
}

[class*=container] [class*=container] {
    padding-left: 0;
    padding-right: 0
}

[class*=container] .container-sm {
    max-width: 896px
}

[class*=container] .container-xs {
    max-width: 620px
}

.site-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px
}

.header-nav {
    flex-grow: 1
}

.header-nav .header-nav-inner {
    display: flex;
    flex-grow: 1
}

.header-nav ul {
    display: flex;
    align-items: center;
    flex-grow: 1;
    white-space: nowrap;
    margin-bottom: 0
}

.header-nav ul:first-of-type {
    flex-wrap: wrap
}

.header-nav li+.header-button {
    margin-left: 32px
}

.header-nav a:not(.button) {
    display: block;
    color: #9ca9b3;
    font-weight: 500;
    padding: 0 32px
}

.header-nav a:not(.button):hover,
.header-nav a:not(.button):active {
    color: #eceded
}

.invert-color .header-nav a:not(.button) {
    color: #33363a
}

.invert-color .header-nav a:not(.button):hover,
.invert-color .header-nav a:not(.button):active {
    color: #6163ff
}

.header-nav a.button {
    margin-left: 32px
}

.header-nav-center:first-of-type {
    flex-grow: 1;
    justify-content: flex-end
}

.header-nav-right {
    justify-content: flex-end
}

.header-nav-right+.header-nav-right {
    flex-grow: 0
}

.header-nav-toggle {
    display: none
}

@media (max-width: 640px) {
    .header-nav-toggle {
        display: block
    }

    .header-nav-toggle+.header-nav {
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        z-index: 9999;
        background: #0e0f11;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height .25s ease-in-out, opacity .15s
    }

    .header-nav-toggle+.header-nav.is-active {
        opacity: 1
    }

    .header-nav-toggle+.header-nav .header-nav-inner {
        flex-direction: column;
        padding: 24px
    }

    .header-nav-toggle+.header-nav ul {
        display: block;
        text-align: center
    }

    .header-nav-toggle+.header-nav ul a:not(.button) {
        display: inline-flex;
        color: #eceded;
        padding-top: 12px;
        padding-bottom: 12px
    }

    .header-nav-toggle+.header-nav a.button {
        margin-left: 0;
        margin-top: 12px;
        margin-bottom: 12px
    }
}

.list-reset {
    list-style: none;
    padding: 0
}

.list-reset li {
    margin: 0
}

.button {
    display: inline-flex;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.1px;
    font-weight: 600;
    padding: 11px 31px;
    height: 48px;
    text-decoration: none !important;
    color: #25282c;
    background-color: #eceded;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 2px;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    letter-spacing: inherit;
    white-space: nowrap;
    transition: background .15s ease
}

.button-primary {
    color: #eceded;
    background-color: #6163ff
}