*{
    direction: ltr;
}
h1{
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 50px;
    color: #666666;
}
form{
    text-align: center;
    margin: 40px auto;
    width: 300px;
    /* border: 5px solid red; */
}
label{
    width: 100%;
    margin: 0 0 10px 0;
    float: right;
    font-size: 15px;
    font-weight: bold;
    color: #808040;
    text-align: right;
}
input[type="text"]{
    width: 100%;
    text-align: center;
    height: 30px;
    font-size: 15px;
    color: #066;
    border: #CDD6C7 2px solid;
    background: #fafafa;
    outline: none;
    border-radius: 15px;
    overflow: visible;
    margin-bottom: 35px;
    font-weight: 600;
}
input[type="button"]{
    width: 50%;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #699;
    border: #fff 2px solid;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
}